.replylist {
    padding: 10px 4px 0px;
}

.title {
    display: flex;
    flex-direction: row;
    margin: 15px;
    justify-content: space-between;
    font-size: large;
    font-weight: 600;
    color: #d9d9d9;
}