.reply {
    margin: 20px 10px;
    display: flex;
    flex-direction: row;
    gap: 8px;
    color: var(--light-gray-color);
}

.replier {
    align-items: center;
    margin: 0 0 5px;
}

.rereplybtn {
    margin: 5px 0;
    color: var(--light-blue-color);
    text-decoration: underline;
}

.profileimg {
    margin: 2px;
    width: 35px;
    height: 35px;
    min-width: 35px;
    border-radius: 100%;
    background-color: var(--origin-blue-color);
}