.editHeader {
    padding: 10px 16px;
    height: 50px;
    align-content: center;
    font-size: larger;
    font-weight: 700;
    color: var(--light-gray-color);

    span {
        margin-left: 8px;
    }
}