.container{
    // background-color: var(--background-color);
    height: 200px;
    width: 200px;
    font-size: 25px;
    // color: var(--origin-pink-color);
    background-color: linear-gradient(#001533, #00147B);
}