.page {
    padding: 20px 0;
}

.title {
    font-size: larger;
    font-weight: 700;
    color: var(--light-gray-color);
    margin-left: 20px;
}

.list {
    margin-top: 15px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: scroll;
}

.nextbtn {
    background-color: var(--origin-blue-color);
    color: var(--light-gray-color);
    font-size: large;
    font-weight: 600;
    margin-left: auto;
    margin-top: 10px;
    margin-right: 10px;
    height: 12vw;
    width: 20vw;
    text-align: center;
    align-content: center;
    border-radius: 3vw;
}