.topImageContainer {
    margin-top:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.topImage {
    color: white;
}
.infoContainer {
    // margin-top:5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    color: white;

}
.headerMargin{
    margin:20vw;
}

.searchBar{
    @media (min-width:450px){
        width:70%;
    }
}
.outerSearchBar{
    @media (min-width:450px){
        display: flex;
        justify-content: center;
        justify-items: center;
    }
}