.firstCon{
    font-style: white;
    height: 95vh;
    display: flex;
    flex-direction: column;
}

.agreement{
    padding-top: 3.5vmin;
    text-decoration: underline;
    text-underline-offset: auto;
    font-size: 3.5vmin;
    color: white;
}

.modalContainer{
    padding: 10px;
}

.title{
    font-size: 5.5vmin;
}

.modalContent{
    font-size: 3.5vmin;
    padding-left: 3.5vmin;
}

.subheading{
    font-weight: bold;
}

.agreement{
    font-size: 3.5vmin;
}

.checkContent{
    font-size: 3vmin;
    text-decoration: underline;
    text-underline-offset: auto;
}

.bremen{
    width: 50vmin;
    height: auto;
    position: fixed;
    left: 50%; /* 추가 */
    transform: translateX(-50%);
    bottom :17.5vmin;
    z-index: 10;
}
.inputTag{
    display: flex;
        flex-direction: column;
        height: 60vh;
        align-items: center;
        justify-content: space-around;
    }
    
    .inputContainer{
        display: flex;
        padding-top: 10vmin;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 75vh;

    }
    
    
    .submit{
        width: 15vmin;
        height: 9vmin;
        border-radius: 10px;
        font-size: 3.5vmin;
        font-weight: bold;
        border: transparent;
        margin-top: 3vmin;
        cursor: pointer;
        &:disabled{
            background-color: var(--disabled-button-color);
            cursor: none;
        }
    }

    .modalAgreement{
        font-size: 4vmin;
    }

@media (min-width: 450px) {
    .title{
        font-size: 24px;
    }
    
    .modalContent{
        font-size: 16px;
        padding-left: 16px;
    }
    
    .subheading{
        font-weight: bold;
    }
    
    .agreement{
        font-size: 16px;
    }
    
    .modalAgreement{
        font-size: 18px;
    }

    .checkContent{
        font-size: 14px;
        text-decoration: underline;
        text-underline-offset: auto;
    }
    .bremen{
        display: none;
    }

    .submit{
        width: 68px;
        height: 40px;
        font-size: 20px;
    }

    .inputTag{
        display: flex;
            flex-direction: column;
            height: 70vh;
            align-items: center;
            justify-content: space-around;
        }
        
        .inputContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            height: 80vh;
            padding-top: 60px;
            // margin-top: 60px;
        }
}

