.content {
    margin-top: 34px;
    height: 40vh;
    width: 100vw;
    // margin-left: 112px;
    margin-bottom: 37px;
    background-color: var(--textInput-background-color);
  }
  
  
  .editor {
    height: 100%;
    width: 100%;
    margin: 0px;
    color: var(--light-gray-color);
  }
  
  .ql-toolbar {
    // border-top-right-radius: 4%;
    // border-top-left-radius: 4%;
    height: 42px;
    // color: var(--light-gray-color);
  }
  
  .ql-container {
    margin: 0px;
    height: 270px;
    // border-bottom-left-radius: 4%;
    // border-bottom-right-radius: 4%;
    color: var(--light-gray-color);
  }